


:root {
    /* --fc-daygrid-event-dot-width: 8px;
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: #f5f5f5;
    --fc-small-font-size: .85em; */
  /* --fc-page-bg-color: rgb(158, 138, 138);
  --fc-neutral-bg-color: rgba(48, 67, 162, 0.3);
  --fc-neutral-text-color: #808080; */
  /* --fc-border-color:none; */

  /* --fc-button-text-color: rgb(0, 0, 0); */
  --fc-button-bg-color: transparent;
  /* --fc-button-hover-bg-color: rgb(166, 172, 251); */
  /* --fc-button-border-color: rgb(193, 178, 178); */
  /* --fc-button-hover-border-color: rgb(235, 187, 187); */
  /* --fc-button-active-border-color: none; */
  /* --fc-button-active-bg-color: @apply bg-app-color-500; */


  /* --fc-event-bg-color: var(--fc-main-color);
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25); */

  /* --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit; */

  /* --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 10px; */
  
  /* --fc-highlight-color: rgba(24, 255, 182, 0.91); */
  /* --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(223, 155, 130);
  --fc-bg-event-opacity: 0.3;
  /* --fc-today-bg-color: rgba(108, 108, 108, 0.15);
  --fc-now-indicator-color: rgba(248, 56, 56, 0.782);
  --fc-main-color: rgba(255, 255, 255, 0.5); */
  }

  #root > div > div.mantine-AppShell-root.w-screen.mantine-osix87 > div > main > div > div.mantine-Grid-root.h-full.mantine-nsdj > div > div > div.fc-view-harness.fc-view-harness-active > div > table > thead > tr > th,#root > div > div.mantine-AppShell-root.w-screen.mantine-osix87 > div > main > div > div.mantine-Grid-root.h-full.mantine-nsdj > div > div > div.fc-view-harness.fc-view-harness-active > div > table > tbody > tr > td{
    @apply !border-none }

/* 
.fc-toolbar{
    @apply mb-[10px];
} */
.fc-header-toolbar{
    @apply !bg-app-color-50 !flex-col sm:!flex-row rounded-md p-5 w-full !my-3 !mx-auto dark:!bg-app-color-50 dark:!bg-opacity-5 border border-app-color-100 dark:!border-opacity-10
}
.fc-toolbar-title{
    @apply !text-[14px] !font-bold !text-app-color-800 dark:!text-app-color-50
    }

.fc-button-active{
    @apply  !bg-app-color-200 !text-app-color-50 dark:!bg-opacity-5
}

.fc-prev-button{
    @apply !border-r-0

}
.fc-button[title*=" view"]:first-child{
    @apply !border-r-0 
}
.fc-button[title*=" view"]:last-child{
    @apply !border-l-0
}
.fc-button{
    @apply !text-app-color-800 !border-app-color-200 
    !bg-none !w-fit !capitalize
    hover:!bg-app-color-500
    hover:!text-app-color-50
    dark:hover:!bg-opacity-20
    dark:hover:!bg-app-color-50
    !outline-none
    focus:!shadow-none
    !transition
    !duration-300
    w-[50px] 
    h-[30px]
    !text-xs
    dark:!text-app-color-50
    dark:!border-app-color-50
    dark:!border-opacity-10
    }

.fc-today-button{
    @apply !border-app-color-200 !capitalize disabled:hover:!bg-none
}

.fc-col-header-cell-cushion{
    @apply !font-bold !text-xs !opacity-80 text-app-color-800 dark:text-app-color-100;

}

.fc-prev-button, .fc-next-button{
    @apply !text-app-color-800 hover:!text-app-color-50 dark:!text-app-color-50
}
.fc-timegrid-slot-label-cushion, .fc-daygrid-day-number{
    @apply  text-app-color-900 text-xs opacity-80 dark:text-app-color-50;
}
.fc-timegrid-axis-cushion{
    @apply !font-bold !text-xs !capitalize text-app-color-800 dark:text-app-color-100
}
.fc-timegrid-slot{
    @apply !border-app-color-200 border-opacity-60 dark:!border-app-color-50 dark:border-opacity-25 dark:text-app-color-50
}

.fc-day{
        @apply bg-none !border-app-color-200 dark:!border-opacity-25 text-sm !text-app-color-800 dark:!text-app-color-50
    }
.fc-highlight{
    @apply !bg-app-color-500 !bg-opacity-10 dark:!bg-app-color-200 dark:!bg-opacity-5 
}
.fc-day-today{
    @apply !bg-app-color-100 dark:!bg-app-color-50 dark:!bg-opacity-5
}
.fc-theme-standard .fc-scrollgrid{
    @apply !border-none
}




.fc{ 
    @apply h-[90vh] 
}

@media screen and (max-width:550px){
    .fc-header-toolbar{
        @apply dark:text-[#f8f7fe] flex flex-col gap-4
    }
    
}
.fc-h-event{
    @apply  !border-none font-bold text-center !bg-app-color-700 !bg-opacity-60 dark:!bg-opacity-30 
    after:w-[5px] after:h-[5px] after:absolute after:rounded-full after:right-[5px] after:top-[5px] after:animate-ping 
    /* before:w-[5px] before:animate-ping before:h-[5px] before:absolute before:rounded-full before:top-1/2 before:-translate-y-1/2 before:right-[5px] relative  */
}

 .fc-timegrid-now-indicator-arrow{ @apply hidden}
.fc-timegrid-now-indicator-line {@apply !text-[#fa5252]  }
.fc-popover{@apply !z-10 !bg-app-color-100 !rounded-md dark:!bg-[#262729]}
.fc-popover-header{@apply  !bg-app-color-400 !rounded-tl-md rounded-tr-md dark:!bg-slate-600}
.fc-popover-body{@apply !flex-col !justify-start}
.fc-daygrid-week-number{@apply  dark:!text-app-color-100 !text-xs}
/* .fc-view{
@apply 
} */
.fc-view-harness{
    @apply !bg-app-color-50 rounded-md w-full !mx-auto dark:!bg-app-color-50 dark:!bg-opacity-5 border  border-app-color-100 dark:!border-opacity-10
}
.fc-daygrid-event-harness{
    @apply !bg-opacity-50 
}

/* .fc-daygrid-day-frame ,.fc-scrollgrid-sync-inner{
    @apply !border-none
} */





/* .fc-daygrid-body {
    @apply !w-full
}
.fc-col-header{
    @apply !w-full
} */




  

